[Unit]
Description=Container image registry
After=network-online.target
Wants=network-online.target

[Container]
AutoUpdate=registry
ContainerName=registry
Environment=OTEL_TRACES_EXPORTER=none
Image=docker.io/library/registry:3.1.1
Network=host
Volume=/var/registry/data:/var/lib/registry:rw,Z
Volume=/etc/registry/config.yml:/etc/distribution/config.yml:ro,z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
